.home-container1 {
    margin-left:210px;
    width: 74%;
    height: 44vh; 
    background-image: url('../assets/site/siteimage3.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    position: relative;
    text-align: center; 
}

.genre-container {
        margin-left: 210px;
        margin-top: 33px;
        font-size: 24px;
        font-weight: bolder;
}

.slider-container1 {
    max-width:80%; 
    margin: 10px 135px; 
}

.genre-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
    margin-left:30px;
}

.genre-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.genre-image:hover {
    transform: scale(1.1); 
}
  
  .arrow {
    position: absolute;
    top: -6%;
    transform: translateY(-20%);
    z-index: 10;
    color:  black;
    border: none;
    border-radius: 20%;
    padding: 1px;
    cursor: pointer;
  }
  
  .arrow.prev {
    left: 1105px;
  }
  
  .arrow.next {
    right: 65px; 
  }
  
  .arrow:hover {
    color: #a2b5df;
  }

  .situation-container {
    margin-left: 210px;
    margin-top: 33px;
    font-size: 24px;
    font-weight: bolder;
}

  
